body, html {
	margin:0;
	font-family:Verdana,Arial,sans-serif;
	font-size:16px;
}

a {
	color:#0040FF;
}
a:hover {
	color:#50A0FF;
}

#backgroundImage {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:-1;
}

#header {
	padding:20px;
	margin:25px;
	height:125px;
	background:#FFFFFF;
	border:5px solid #DFAA95;
	background-image:url(templates/images/banner.png);
	background-repeat:no-repeat;
	background-position:center;
}
#headerLogo {
	width:90px;
	width:90px;
}

#speedbar {
	margin-top:25px;
}
#speedbar a {
	text-decoration:none;
	border:5px solid #DFAA95;
	border-radius:3px 3px 0 0;
	padding:5px;
	color:black;
	background:rgba(255,255,255,0.4);
}
#speedbar a:hover {
	background:#FFBAA5;
	color:black;
}

#userbox {
	float:right;
	border:5px solid #DFAA95;
	background:rgba(255,255,255,0.4);
	border-radius:3px;
	margin:-15px;
	padding:5px;
	width:180px;
	height:135px;
}

#footer {
	padding:20px;
	margin:25px;
	background:#FFFFFF;
	border:5px solid #DFAA95;
}